.blog {
  &-header {
    text-align: center;
  }
  &-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 1.5rem;
    .box {
      background: #222;
      border-radius: 1rem;
      overflow: hidden;
    }
  }
  &-img {
    height: 25rem;
    overflow: hidden;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &-title {
    padding: 2rem;
    .text-medium {
      margin-bottom: 1rem;
    }
    .text-small {
      margin-bottom: 2rem;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: $light-color;
      font-size: 1.2rem;
      i {
        margin-right: 1rem;
        color: $blue;
      }
    }
  }
}
