.gallery {
  &-header {
    text-align: center;
  }
  &-card {
    columns: 3 25rem;
    column-gap: 1.5rem;
  }
  .box {
    margin-bottom: 1rem;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    img {
      width: 100%;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
  }
}
