.home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  border-radius: 1rem;
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  margin-top: 7rem;
  &-content {
    max-width: 675px;
    text-align: center;
    span {
      font-size: 3vw;
      color: $black-bg;
      font-weight: 600;
      @include breakpoint(767) {
        font-size: 2.5rem;
      }
      @include breakpoint(375) {
        font-size: 2rem;
      }
    }
    h3 {
      font-size: 4vw;
      color: $white;
      @include breakpoint(767) {
        font-size: 3.5rem;
      }
      @include breakpoint(375) {
        font-size: 2.5rem;
      }
    }
    .text-small {
      margin-bottom: 2.5rem;
      @include breakpoint(375) {
        font-size: 1.2rem;
      }
    }
    .btn {
      margin: 0 auto;
      margin-top: 1rem;
    }
  }
}
