* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 5rem;
  }
}
body {
  background: $black;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}
ul li {
  list-style-type: none;
}
.wapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.heading {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  &-medium {
    font-size: 2rem;
    color: $white;
    font-weight: 500;
  }
}

.text {
  color: $blue;
  font-size: 2rem;
  &-small {
    font-size: 1.4rem;
    color: $light-color;
    line-height: 2;
  }
  &-medium {
    font-size: 1.7rem;
    color: $blue;
  }
}
.btn {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  color: $blue;
  border-radius: 5rem;
  border: 2px solid $blue;
  &:hover {
    background-color: $blue;
    color: $black;
  }
}
input {
  padding: 1.2rem 1.4rem;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #aaa;
  border-radius: 5rem;
  border: 2px solid $blue;
  width: 100%;
  margin-top: 1rem;
}
.creadit {
  text-align: center;
  padding: 2rem;
  background: #222;
  .text {
    color: $white;
    @include breakpoint(768) {
      font-size: 1.8rem;
    }
  }
}
